@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>E-SHOP</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRIWFUl8WXBG55cah-zHORcIpidF6Q9EhPgpw&usqp=CAU"> 
    </div>