@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p><b>Политика за конфиденциалност</b></p>
<hr>
<br />
<p><b>Каква информация събираме?</b></p>
<br />
<p>Ние събираме информация от Вас, когато посетите нашия уеб сайт и когато попълните формуляр на него.</p>
<br />
<br />
<p><b>За какво използваме Вашата информация?</b></p>
<br />
<p>
    Информацията, която събираме от Вас може да се използва по един от следните начини:
    За да персонализираме информацията на уеб сайта ни, да подобрим обслужването на клиентите.
    E-mail адресът предоставен от Вас може да бъде използван, за да Ви бъде изпращана информация и новини, актуализации, свързани с услугата и др.
    Забележка: Ако по някое време бихте искали да се отпишете от получаване на бъдещи имейли, в писмата са включени инструкции как можете да го направите.
</p>
<br />
<br />
<p><b>Как защитаваме информацията Ви?</b></p>
<br />
<p>
    Ние прилагаме различни мерки за сигурност за поддържане на безопасността на вашата лична информация, когато посещавате нашия уеб сайт и оставяте или достъпвате лична информация в него.
</p>
<br />
<br />
<p><b>Използваме ли бисквитки?</b></p>
<br />
<p>
    Бисквитките са малки файлове, които даден сайт или доставчик на услуги, записва на твърдия диск на компютрите си чрез вашия уеб браузър (ако позволите), които дават възможност на системите на сайтове или доставчици на услуги да разпознаят Вашия браузър, да уловят и запомнят определена информация. Ние използваме бисквитки, за да съставим обобщени данни за трафика на сайта и дейностите на потребителите по време на престоя им, така че да можем да предложим по-добър престой на сайта, повече и полезни инструменти и информация относно нашите услуги.
</p>
<br />
<br />
<p><b>Разкриваме ли информация на външни лица?</b></p>
<br />
<p>
    Ние не продаваме, търгуваме, или по друг начин не прехвърляме Вашата лична информация на външни лица. Предоставената от Вас информация ще бъде използвана само и единствено с цел по-успешното Ви обслужаване. Ние също може да предадем Вашата информация, когато смятаме, че освобождаването й е целесъобразно да се спази закона, за да прилагат правилата на сайта, или да се защитят нашите или други права, собственост или безопасност.
</p>
<br />
<br />
<p><b>Връзки към трети страни</b></p>
<br />
<p>
    По наша преценка, сайта може да включва или предлага връзки към сайтове с продукти и услуги на трети страни. Тези сайтове на трети страни имат отделни и независими политики за защита на личните данни. Затова ние не носим отговорност за съдържанието и дейността на тези свързани сайтове. Въпреки това, ние се стремим да защитим целостта на нашия сайт и приветстваме всяка обратна връзка за тези сайтове.
</p>
<br />
<br />
<p>
    <b>
        Онлайн декларация за поверителност
    </b>
</p>
<br />
<p>Тази онлайн политика за защита на личните данни се прилага само за информация, събрана чрез нашия сайт, а не за информацията, събрана офлайн.</p>
<br />
<br />
<p><b>Вашето съгласие</b></p>
<br />
<p>Използвайки нашият сайт, Вие се съгласявате с нашата политика за поверителност.
<p />
<br />
<br />
<p><b>Промени в нашата Политика за защита на личните данни</b></p>
<br />
<p>Ако решим да променим нашата политика за конфиденциалност, ние ще публикуваме тези промени на тази страница.</p>
<br />
<br />
<br />
<br />
<br />
<br />
